.custom-filter {
    float: right;
}
.custom-filter label {
    margin-left: 10px;
}
.custom-filter input.short {
    width: 100px;
}

.mask-purchased {
    background-color: #999;
}

.mask-favorited {
    background-color: rgb(200, 255, 198);
}

[class*="hide-"] {
    display: none !important;
}
