.custom-filter {
    position: absolute;
    right: 10px;
    margin-top: -3em;
}
.custom-filter label {
    margin-left: 10px;
}
.custom-filter input {
    width: 100px;
}

.mask-purchased {
    background-color: #999;
}

.mask-favorited {
    background-color: rgb(200, 255, 198);
}

.mask-waribiki {
    display: none !important;
}

.mask-price {
    display: none !important;
}
